*{
    border-color: black;
}

#kalk{
    background-color: beige;
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    border-radius: 2em;
    text-align: center;
font-size: x-large;
        
}

#resultat{
    background-color: azure;
    margin: 1em;
    padding: 1em;
    border-radius: 2em;
    justify-content: center;
}

button{
    cursor: pointer;
    margin-top: 1em;  
    
}

input{
    margin-top: 1em;
}

